.btn {
    border: none !important;
    border-radius: 4px !important;
    height: 32px !important;
    cursor: pointer;
}
.btn-default {
    background-color: rgb(193, 195, 197);
    color: white;
}
.btn-primary {
    background-color: rgb(11, 127, 204)!important;
    color: white!important;
}
.btn-secondary {
    background-color: rgb(81, 103, 117)!important;
    color: white!important;
}
.btn-error {
    background-color: rgb(241, 52, 52)!important;
    color: white!important;
}