.visible {
    display: block !important
}

.inline {
    display: inline !important
}

.inline-block {
    display: inline-block !important
}

.flex {
    display: flex !important
}

.inline-flex {
    display: inline-flex !important
}

.grid {
    display: grid !important
}

.inline-grid {
    display: inline-grid !important
}

.hidden {
    display: none !important
}

.flex-row {
    flex-direction: row !important
}

.flex-col {
    flex-direction: column !important
}

.flex-row-reverse {
    flex-direction: row-reverse !important
}

.flex-col-reverse {
    flex-direction: column-reverse !important
}

.flex-grow-0 {
    flex-grow: 0 !important
}

.flex-grow-1 {
    flex-grow: 1 !important
}

.flex-grow-2 {
    flex-grow: 2 !important
}

.flex-grow-3 {
    flex-grow: 3 !important
}

.flex-wrap {
    flex-wrap: wrap !important
}

.flex-nowrap {
    flex-wrap: nowrap !important
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse !important
}

.justify-start {
    justify-content: flex-start !important
}

.justify-end {
    justify-content: flex-end !important
}

.justify-center {
    justify-content: center !important
}

.justify-between {
    justify-content: space-between !important
}

.justify-around {
    justify-content: space-around !important
}

.justify-evenly {
    justify-content: space-evenly !important
}

.items-start {
    align-items: flex-start !important
}

.items-end {
    align-items: flex-end !important
}

.items-center {
    align-items: center !important
}

.items-baseline {
    align-items: baseline !important
}

.items-stretch {
    align-items: stretch !important
}

.content-start {
    align-content: flex-start !important
}

.content-end {
    align-content: flex-end !important
}

.content-center {
    align-content: center !important
}

.content-between {
    align-content: space-between !important
}

.content-around {
    align-content: space-around !important
}

.content-stretch {
    align-content: stretch !important
}

.self-auto {
    align-self: auto !important
}

.self-start {
    align-self: flex-start !important
}

.self-end {
    align-self: flex-end !important
}

.self-center {
    align-self: center !important
}

.self-stretch {
    align-self: stretch !important
}

.gap-1 {
    gap: 2px !important
}

.gap-2 {
    gap: 4px !important
}

.gap-3 {
    gap: 6px !important
}

.gap-4 {
    gap: 8px !important
}

.gap-5 {
    gap: 10px !important
}

.gap-6 {
    gap: 12px !important
}

.gap-7 {
    gap: 14px !important
}

.gap-8 {
    gap: 16px !important
}

.gap-9 {
    gap: 18px !important
}

.gap-10 {
    gap: 20px !important
}

.gap-11 {
    gap: 22px !important
}

.gap-12 {
    gap: 24px !important
}

.gap-13 {
    gap: 26px !important
}

.gap-14 {
    gap: 28px !important
}

.gap-15 {
    gap: 30px !important
}

.gap-16 {
    gap: 32px !important
}

.float-left {
    float: left !important
}

.float-right {
    float: right !important
}

.ma-auto {
    margin: auto !important
}

.ma-0 {
    margin: 0px !important
}

.mx-0 {
    margin-left: 0px !important;
    margin-right: 0px !important
}

.my-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important
}

.ml-0 {
    margin-left: 0px !important
}

.mr-0 {
    margin-right: 0px !important
}

.mt-0 {
    margin-top: 0px !important
}

.mb-0 {
    margin-bottom: 0px !important
}

.ms-0 {
    margin-inline-start: 0px !important
}

.me-0 {
    margin-inline-end: 0px !important
}

.ma-1 {
    margin: 4px !important
}

.mx-1 {
    margin-left: 4px !important;
    margin-right: 4px !important
}

.my-1 {
    margin-top: 4px !important;
    margin-bottom: 4px !important
}

.ml-1 {
    margin-left: 4px !important
}

.mr-1 {
    margin-right: 4px !important
}

.mt-1 {
    margin-top: 4px !important
}

.mb-1 {
    margin-bottom: 4px !important
}

.ms-1 {
    margin-inline-start: 4px !important
}

.me-1 {
    margin-inline-end: 4px !important
}

.ma-2 {
    margin: 8px !important
}

.mx-2 {
    margin-left: 8px !important;
    margin-right: 8px !important
}

.my-2 {
    margin-top: 8px !important;
    margin-bottom: 8px !important
}

.ml-2 {
    margin-left: 8px !important
}

.mr-2 {
    margin-right: 8px !important
}

.mt-2 {
    margin-top: 8px !important
}

.mb-2 {
    margin-bottom: 8px !important
}

.ms-2 {
    margin-inline-start: 8px !important
}

.me-2 {
    margin-inline-end: 8px !important
}

.ma-3 {
    margin: 12px !important
}

.mx-3 {
    margin-left: 12px !important;
    margin-right: 12px !important
}

.my-3 {
    margin-top: 12px !important;
    margin-bottom: 12px !important
}

.ml-3 {
    margin-left: 12px !important
}

.mr-3 {
    margin-right: 12px !important
}

.mt-3 {
    margin-top: 12px !important
}

.mb-3 {
    margin-bottom: 12px !important
}

.ms-3 {
    margin-inline-start: 12px !important
}

.me-3 {
    margin-inline-end: 12px !important
}

.ma-4 {
    margin: 16px !important
}

.mx-4 {
    margin-left: 16px !important;
    margin-right: 16px !important
}

.my-4 {
    margin-top: 16px !important;
    margin-bottom: 16px !important
}

.ml-4 {
    margin-left: 16px !important
}

.mr-4 {
    margin-right: 16px !important
}

.mt-4 {
    margin-top: 16px !important
}

.mb-4 {
    margin-bottom: 16px !important
}

.ms-4 {
    margin-inline-start: 16px !important
}

.me-4 {
    margin-inline-end: 16px !important
}

.ma-5 {
    margin: 20px !important
}

.mx-5 {
    margin-left: 20px !important;
    margin-right: 20px !important
}

.my-5 {
    margin-top: 20px !important;
    margin-bottom: 20px !important
}

.ml-5 {
    margin-left: 20px !important
}

.mr-5 {
    margin-right: 20px !important
}

.mt-5 {
    margin-top: 20px !important
}

.mb-5 {
    margin-bottom: 20px !important
}

.ms-5 {
    margin-inline-start: 20px !important
}

.me-5 {
    margin-inline-end: 20px !important
}

.ma-6 {
    margin: 24px !important
}

.mx-6 {
    margin-left: 24px !important;
    margin-right: 24px !important
}

.my-6 {
    margin-top: 24px !important;
    margin-bottom: 24px !important
}

.ml-6 {
    margin-left: 24px !important
}

.mr-6 {
    margin-right: 24px !important
}

.mt-6 {
    margin-top: 24px !important
}

.mb-6 {
    margin-bottom: 24px !important
}

.ms-6 {
    margin-inline-start: 24px !important
}

.me-6 {
    margin-inline-end: 24px !important
}

.ma-7 {
    margin: 28px !important
}

.mx-7 {
    margin-left: 28px !important;
    margin-right: 28px !important
}

.my-7 {
    margin-top: 28px !important;
    margin-bottom: 28px !important
}

.ml-7 {
    margin-left: 28px !important
}

.mr-7 {
    margin-right: 28px !important
}

.mt-7 {
    margin-top: 28px !important
}

.mb-7 {
    margin-bottom: 28px !important
}

.ms-7 {
    margin-inline-start: 28px !important
}

.me-7 {
    margin-inline-end: 28px !important
}

.ma-8 {
    margin: 32px !important
}

.mx-8 {
    margin-left: 32px !important;
    margin-right: 32px !important
}

.my-8 {
    margin-top: 32px !important;
    margin-bottom: 32px !important
}

.ml-8 {
    margin-left: 32px !important
}

.mr-8 {
    margin-right: 32px !important
}

.mt-8 {
    margin-top: 32px !important
}

.mb-8 {
    margin-bottom: 32px !important
}

.ms-8 {
    margin-inline-start: 32px !important
}

.me-8 {
    margin-inline-end: 32px !important
}

.ma-9 {
    margin: 36px !important
}

.mx-9 {
    margin-left: 36px !important;
    margin-right: 36px !important
}

.my-9 {
    margin-top: 36px !important;
    margin-bottom: 36px !important
}

.ml-9 {
    margin-left: 36px !important
}

.mr-9 {
    margin-right: 36px !important
}

.mt-9 {
    margin-top: 36px !important
}

.mb-9 {
    margin-bottom: 36px !important
}

.ms-9 {
    margin-inline-start: 36px !important
}

.me-9 {
    margin-inline-end: 36px !important
}

.ma-10 {
    margin: 40px !important
}

.mx-10 {
    margin-left: 40px !important;
    margin-right: 40px !important
}

.my-10 {
    margin-top: 40px !important;
    margin-bottom: 40px !important
}

.ml-10 {
    margin-left: 40px !important
}

.mr-10 {
    margin-right: 40px !important
}

.mt-10 {
    margin-top: 40px !important
}

.mb-10 {
    margin-bottom: 40px !important
}

.ms-10 {
    margin-inline-start: 40px !important
}

.me-10 {
    margin-inline-end: 40px !important
}

.ma-11 {
    margin: 44px !important
}

.mx-11 {
    margin-left: 44px !important;
    margin-right: 44px !important
}

.my-11 {
    margin-top: 44px !important;
    margin-bottom: 44px !important
}

.ml-11 {
    margin-left: 44px !important
}

.mr-11 {
    margin-right: 44px !important
}

.mt-11 {
    margin-top: 44px !important
}

.mb-11 {
    margin-bottom: 44px !important
}

.ms-11 {
    margin-inline-start: 44px !important
}

.me-11 {
    margin-inline-end: 44px !important
}

.ma-12 {
    margin: 48px !important
}

.mx-12 {
    margin-left: 48px !important;
    margin-right: 48px !important
}

.my-12 {
    margin-top: 48px !important;
    margin-bottom: 48px !important
}

.ml-12 {
    margin-left: 48px !important
}

.mr-12 {
    margin-right: 48px !important
}

.mt-12 {
    margin-top: 48px !important
}

.mb-12 {
    margin-bottom: 48px !important
}

.ms-12 {
    margin-inline-start: 48px !important
}

.me-12 {
    margin-inline-end: 48px !important
}

.ma-13 {
    margin: 52px !important
}

.mx-13 {
    margin-left: 52px !important;
    margin-right: 52px !important
}

.my-13 {
    margin-top: 52px !important;
    margin-bottom: 52px !important
}

.ml-13 {
    margin-left: 52px !important
}

.mr-13 {
    margin-right: 52px !important
}

.mt-13 {
    margin-top: 52px !important
}

.mb-13 {
    margin-bottom: 52px !important
}

.ms-13 {
    margin-inline-start: 52px !important
}

.me-13 {
    margin-inline-end: 52px !important
}

.ma-14 {
    margin: 56px !important
}

.mx-14 {
    margin-left: 56px !important;
    margin-right: 56px !important
}

.my-14 {
    margin-top: 56px !important;
    margin-bottom: 56px !important
}

.ml-14 {
    margin-left: 56px !important
}

.mr-14 {
    margin-right: 56px !important
}

.mt-14 {
    margin-top: 56px !important
}

.mb-14 {
    margin-bottom: 56px !important
}

.ms-14 {
    margin-inline-start: 56px !important
}

.me-14 {
    margin-inline-end: 56px !important
}

.ma-15 {
    margin: 60px !important
}

.mx-15 {
    margin-left: 60px !important;
    margin-right: 60px !important
}

.my-15 {
    margin-top: 60px !important;
    margin-bottom: 60px !important
}

.ml-15 {
    margin-left: 60px !important
}

.mr-15 {
    margin-right: 60px !important
}

.mt-15 {
    margin-top: 60px !important
}

.mb-15 {
    margin-bottom: 60px !important
}

.ms-15 {
    margin-inline-start: 60px !important
}

.me-15 {
    margin-inline-end: 60px !important
}

.ma-16 {
    margin: 64px !important
}

.mx-16 {
    margin-left: 64px !important;
    margin-right: 64px !important
}

.my-16 {
    margin-top: 64px !important;
    margin-bottom: 64px !important
}

.ml-16 {
    margin-left: 64px !important
}

.mr-16 {
    margin-right: 64px !important
}

.mt-16 {
    margin-top: 64px !important
}

.mb-16 {
    margin-bottom: 64px !important
}

.ms-16 {
    margin-inline-start: 64px !important
}

.me-16 {
    margin-inline-end: 64px !important
}

.overflow {
    overflow: auto !important
}

.overflow-hidden {
    overflow: hidden !important
}

.overflow-visible {
    overflow: visible !important
}

.overflow-scroll {
    overflow: scroll !important
}

.x-auto {
    overflow-x: auto !important
}

.x-hidden {
    overflow-x: hidden !important
}

.x-visible {
    overflow-x: visible !important
}

.x-scroll {
    overflow-x: scroll !important
}

.y-auto {
    overflow-y: auto !important
}

.y-hidden {
    overflow-y: hidden !important
}

.y-visible {
    overflow-y: visible !important
}

.y-scroll {
    overflow-y: scroll !important
}

.pa-auto {
    padding: auto !important
}

.pa-0 {
    padding: 0px !important
}

.px-0 {
    padding-left: 0px !important;
    padding-right: 0px !important
}

.py-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important
}

.pl-0 {
    padding-left: 0px !important
}

.pr-0 {
    padding-right: 0px !important
}

.pt-0 {
    padding-top: 0px !important
}

.pb-0 {
    padding-bottom: 0px !important
}

.ps-0 {
    padding-inline-start: 0px !important
}

.pe-0 {
    padding-inline-end: 0px !important
}

.pa-1 {
    padding: 4px !important
}

.px-1 {
    padding-left: 4px !important;
    padding-right: 4px !important
}

.py-1 {
    padding-top: 4px !important;
    padding-bottom: 4px !important
}

.pl-1 {
    padding-left: 4px !important
}

.pr-1 {
    padding-right: 4px !important
}

.pt-1 {
    padding-top: 4px !important
}

.pb-1 {
    padding-bottom: 4px !important
}

.ps-1 {
    padding-inline-start: 4px !important
}

.pe-1 {
    padding-inline-end: 4px !important
}

.pa-2 {
    padding: 8px !important
}

.px-2 {
    padding-left: 8px !important;
    padding-right: 8px !important
}

.py-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important
}

.pl-2 {
    padding-left: 8px !important
}

.pr-2 {
    padding-right: 8px !important
}

.pt-2 {
    padding-top: 8px !important
}

.pb-2 {
    padding-bottom: 8px !important
}

.ps-2 {
    padding-inline-start: 8px !important
}

.pe-2 {
    padding-inline-end: 8px !important
}

.pa-3 {
    padding: 12px !important
}

.px-3 {
    padding-left: 12px !important;
    padding-right: 12px !important
}

.py-3 {
    padding-top: 12px !important;
    padding-bottom: 12px !important
}

.pl-3 {
    padding-left: 12px !important
}

.pr-3 {
    padding-right: 12px !important
}

.pt-3 {
    padding-top: 12px !important
}

.pb-3 {
    padding-bottom: 12px !important
}

.ps-3 {
    padding-inline-start: 12px !important
}

.pe-3 {
    padding-inline-end: 12px !important
}

.pa-4 {
    padding: 16px !important
}

.px-4 {
    padding-left: 16px !important;
    padding-right: 16px !important
}

.py-4 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

.pl-4 {
    padding-left: 16px !important
}

.pr-4 {
    padding-right: 16px !important
}

.pt-4 {
    padding-top: 16px !important
}

.pb-4 {
    padding-bottom: 16px !important
}

.ps-4 {
    padding-inline-start: 16px !important
}

.pe-4 {
    padding-inline-end: 16px !important
}

.pa-5 {
    padding: 20px !important
}

.px-5 {
    padding-left: 20px !important;
    padding-right: 20px !important
}

.py-5 {
    padding-top: 20px !important;
    padding-bottom: 20px !important
}

.pl-5 {
    padding-left: 20px !important
}

.pr-5 {
    padding-right: 20px !important
}

.pt-5 {
    padding-top: 20px !important
}

.pb-5 {
    padding-bottom: 20px !important
}

.ps-5 {
    padding-inline-start: 20px !important
}

.pe-5 {
    padding-inline-end: 20px !important
}

.pa-6 {
    padding: 24px !important
}

.px-6 {
    padding-left: 24px !important;
    padding-right: 24px !important
}

.py-6 {
    padding-top: 24px !important;
    padding-bottom: 24px !important
}

.pl-6 {
    padding-left: 24px !important
}

.pr-6 {
    padding-right: 24px !important
}

.pt-6 {
    padding-top: 24px !important
}

.pb-6 {
    padding-bottom: 24px !important
}

.ps-6 {
    padding-inline-start: 24px !important
}

.pe-6 {
    padding-inline-end: 24px !important
}

.pa-7 {
    padding: 28px !important
}

.px-7 {
    padding-left: 28px !important;
    padding-right: 28px !important
}

.py-7 {
    padding-top: 28px !important;
    padding-bottom: 28px !important
}

.pl-7 {
    padding-left: 28px !important
}

.pr-7 {
    padding-right: 28px !important
}

.pt-7 {
    padding-top: 28px !important
}

.pb-7 {
    padding-bottom: 28px !important
}

.ps-7 {
    padding-inline-start: 28px !important
}

.pe-7 {
    padding-inline-end: 28px !important
}

.pa-8 {
    padding: 32px !important
}

.px-8 {
    padding-left: 32px !important;
    padding-right: 32px !important
}

.py-8 {
    padding-top: 32px !important;
    padding-bottom: 32px !important
}

.pl-8 {
    padding-left: 32px !important
}

.pr-8 {
    padding-right: 32px !important
}

.pt-8 {
    padding-top: 32px !important
}

.pb-8 {
    padding-bottom: 32px !important
}

.ps-8 {
    padding-inline-start: 32px !important
}

.pe-8 {
    padding-inline-end: 32px !important
}

.pa-9 {
    padding: 36px !important
}

.px-9 {
    padding-left: 36px !important;
    padding-right: 36px !important
}

.py-9 {
    padding-top: 36px !important;
    padding-bottom: 36px !important
}

.pl-9 {
    padding-left: 36px !important
}

.pr-9 {
    padding-right: 36px !important
}

.pt-9 {
    padding-top: 36px !important
}

.pb-9 {
    padding-bottom: 36px !important
}

.ps-9 {
    padding-inline-start: 36px !important
}

.pe-9 {
    padding-inline-end: 36px !important
}

.pa-10 {
    padding: 40px !important
}

.px-10 {
    padding-left: 40px !important;
    padding-right: 40px !important
}

.py-10 {
    padding-top: 40px !important;
    padding-bottom: 40px !important
}

.pl-10 {
    padding-left: 40px !important
}

.pr-10 {
    padding-right: 40px !important
}

.pt-10 {
    padding-top: 40px !important
}

.pb-10 {
    padding-bottom: 40px !important
}

.ps-10 {
    padding-inline-start: 40px !important
}

.pe-10 {
    padding-inline-end: 40px !important
}

.pa-11 {
    padding: 44px !important
}

.px-11 {
    padding-left: 44px !important;
    padding-right: 44px !important
}

.py-11 {
    padding-top: 44px !important;
    padding-bottom: 44px !important
}

.pl-11 {
    padding-left: 44px !important
}

.pr-11 {
    padding-right: 44px !important
}

.pt-11 {
    padding-top: 44px !important
}

.pb-11 {
    padding-bottom: 44px !important
}

.ps-11 {
    padding-inline-start: 44px !important
}

.pe-11 {
    padding-inline-end: 44px !important
}

.pa-12 {
    padding: 48px !important
}

.px-12 {
    padding-left: 48px !important;
    padding-right: 48px !important
}

.py-12 {
    padding-top: 48px !important;
    padding-bottom: 48px !important
}

.pl-12 {
    padding-left: 48px !important
}

.pr-12 {
    padding-right: 48px !important
}

.pt-12 {
    padding-top: 48px !important
}

.pb-12 {
    padding-bottom: 48px !important
}

.ps-12 {
    padding-inline-start: 48px !important
}

.pe-12 {
    padding-inline-end: 48px !important
}

.pa-13 {
    padding: 52px !important
}

.px-13 {
    padding-left: 52px !important;
    padding-right: 52px !important
}

.py-13 {
    padding-top: 52px !important;
    padding-bottom: 52px !important
}

.pl-13 {
    padding-left: 52px !important
}

.pr-13 {
    padding-right: 52px !important
}

.pt-13 {
    padding-top: 52px !important
}

.pb-13 {
    padding-bottom: 52px !important
}

.ps-13 {
    padding-inline-start: 52px !important
}

.pe-13 {
    padding-inline-end: 52px !important
}

.pa-14 {
    padding: 56px !important
}

.px-14 {
    padding-left: 56px !important;
    padding-right: 56px !important
}

.py-14 {
    padding-top: 56px !important;
    padding-bottom: 56px !important
}

.pl-14 {
    padding-left: 56px !important
}

.pr-14 {
    padding-right: 56px !important
}

.pt-14 {
    padding-top: 56px !important
}

.pb-14 {
    padding-bottom: 56px !important
}

.ps-14 {
    padding-inline-start: 56px !important
}

.pe-14 {
    padding-inline-end: 56px !important
}

.pa-15 {
    padding: 60px !important
}

.px-15 {
    padding-left: 60px !important;
    padding-right: 60px !important
}

.py-15 {
    padding-top: 60px !important;
    padding-bottom: 60px !important
}

.pl-15 {
    padding-left: 60px !important
}

.pr-15 {
    padding-right: 60px !important
}

.pt-15 {
    padding-top: 60px !important
}

.pb-15 {
    padding-bottom: 60px !important
}

.ps-15 {
    padding-inline-start: 60px !important
}

.pe-15 {
    padding-inline-end: 60px !important
}

.pa-16 {
    padding: 64px !important
}

.px-16 {
    padding-left: 64px !important;
    padding-right: 64px !important
}

.py-16 {
    padding-top: 64px !important;
    padding-bottom: 64px !important
}

.pl-16 {
    padding-left: 64px !important
}

.pr-16 {
    padding-right: 64px !important
}

.pt-16 {
    padding-top: 64px !important
}

.pb-16 {
    padding-bottom: 64px !important
}

.ps-16 {
    padding-inline-start: 64px !important
}

.pe-16 {
    padding-inline-end: 64px !important
}

.static {
    position: static !important
}

.fixed {
    position: fixed !important
}

.absolute {
    position: absolute !important
}

.relative {
    position: relative !important
}

.sticky {
    position: sticky !important
}

.top-0 {
    top: 0px !important
}

.top-1 {
    top: 2px !important
}

.top-2 {
    top: 4px !important
}

.top-3 {
    top: 6px !important
}

.top-4 {
    top: 8px !important
}

.top-5 {
    top: 10px !important
}

.top-6 {
    top: 12px !important
}

.top-7 {
    top: 14px !important
}

.top-8 {
    top: 16px !important
}

.top-9 {
    top: 18px !important
}

.top-10 {
    top: 20px !important
}

.top-11 {
    top: 22px !important
}

.top-12 {
    top: 24px !important
}

.top-13 {
    top: 26px !important
}

.top-14 {
    top: 28px !important
}

.top-15 {
    top: 30px !important
}

.top-16 {
    top: 32px !important
}

.bottom-0 {
    bottom: 0px !important
}

.bottom-1 {
    bottom: 2px !important
}

.bottom-2 {
    bottom: 4px !important
}

.bottom-3 {
    bottom: 6px !important
}

.bottom-4 {
    bottom: 8px !important
}

.bottom-5 {
    bottom: 10px !important
}

.bottom-6 {
    bottom: 12px !important
}

.bottom-7 {
    bottom: 14px !important
}

.bottom-8 {
    bottom: 16px !important
}

.bottom-9 {
    bottom: 18px !important
}

.bottom-10 {
    bottom: 20px !important
}

.bottom-11 {
    bottom: 22px !important
}

.bottom-12 {
    bottom: 24px !important
}

.bottom-13 {
    bottom: 26px !important
}

.bottom-14 {
    bottom: 28px !important
}

.bottom-15 {
    bottom: 30px !important
}

.bottom-16 {
    bottom: 32px !important
}

.left-0 {
    left: 0px !important
}

.left-1 {
    left: 2px !important
}

.left-2 {
    left: 4px !important
}

.left-3 {
    left: 6px !important
}

.left-4 {
    left: 8px !important
}

.left-5 {
    left: 10px !important
}

.left-6 {
    left: 12px !important
}

.left-7 {
    left: 14px !important
}

.left-8 {
    left: 16px !important
}

.left-9 {
    left: 18px !important
}

.left-10 {
    left: 20px !important
}

.left-11 {
    left: 22px !important
}

.left-12 {
    left: 24px !important
}

.left-13 {
    left: 26px !important
}

.left-14 {
    left: 28px !important
}

.left-15 {
    left: 30px !important
}

.left-16 {
    left: 32px !important
}

.right-0 {
    right: 0px !important
}

.right-1 {
    right: 2px !important
}

.right-2 {
    right: 4px !important
}

.right-3 {
    right: 6px !important
}

.right-4 {
    right: 8px !important
}

.right-5 {
    right: 10px !important
}

.right-6 {
    right: 12px !important
}

.right-7 {
    right: 14px !important
}

.right-8 {
    right: 16px !important
}

.right-9 {
    right: 18px !important
}

.right-10 {
    right: 20px !important
}

.right-11 {
    right: 22px !important
}

.right-12 {
    right: 24px !important
}

.right-13 {
    right: 26px !important
}

.right-14 {
    right: 28px !important
}

.right-15 {
    right: 30px !important
}

.right-16 {
    right: 32px !important
}

.z-index-0 {
    z-index: 0 !important
}

.z-index-1 {
    z-index: 1 !important
}

.z-index-2 {
    z-index: 2 !important
}

.z-index-3 {
    z-index: 3 !important
}

.z-index-auto {
    z-index: auto !important
}

.z-index-top {
    z-index: 99999 !important
}

.z-index-bottom {
    z-index: -99999 !important
}

.row {
    display: flex !important;
    flex-wrap: wrap !important
}

.col-1 {
    flex: 0 0 8.3333333333% !important;
    max-width: 8.3333333333% !important
}

.col-2 {
    flex: 0 0 16.6666666667% !important;
    max-width: 16.6666666667% !important
}

.col-3 {
    flex: 0 0 25% !important;
    max-width: 25% !important
}

.col-4 {
    flex: 0 0 33.3333333333% !important;
    max-width: 33.3333333333% !important
}

.col-5 {
    flex: 0 0 41.6666666667% !important;
    max-width: 41.6666666667% !important
}

.col-6 {
    flex: 0 0 50% !important;
    max-width: 50% !important
}

.col-7 {
    flex: 0 0 58.3333333333% !important;
    max-width: 58.3333333333% !important
}

.col-8 {
    flex: 0 0 66.6666666667% !important;
    max-width: 66.6666666667% !important
}

.col-9 {
    flex: 0 0 75% !important;
    max-width: 75% !important
}

.col-10 {
    flex: 0 0 83.3333333333% !important;
    max-width: 83.3333333333% !important
}

.col-11 {
    flex: 0 0 91.6666666667% !important;
    max-width: 91.6666666667% !important
}

.col-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important
}

.h-auto {
    height: auto !important
}

.h-full {
    height: 100% !important
}

.h-screen {
    height: 100vh !important
}

.w-auto {
    width: auto !important
}

.w-full {
    width: 100% !important
}

.w-screen {
    width: 100vw !important
}

.text-center {
    text-align: center !important
}

.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.font-bold {
    font-weight: bold !important
}

.font-normal {
    font-weight: normal !important
}

.font-light {
    font-weight: light !important
}

.font-italic {
    font-style: italic !important
}

.font-underline {
    text-decoration: underline !important
}

.font-overline {
    text-decoration: overline !important
}

.font-line-through {
    text-decoration: line-through !important
}

.cursor-alias {
    cursor: alias !important
}

.cursor-all-scroll {
    cursor: all-scroll !important
}

.cursor-auto {
    cursor: auto !important
}

.cursor-cell {
    cursor: cell !important
}

.cursor-col-resize {
    cursor: col-resize !important
}

.cursor-context-menu {
    cursor: context-menu !important
}

.cursor-copy {
    cursor: copy !important
}

.cursor-crosshair {
    cursor: crosshair !important
}

.cursor-default {
    cursor: default !important
}

.cursor-e-resize {
    cursor: e-resize !important
}

.cursor-ew-resize {
    cursor: ew-resize !important
}

.cursor-grab {
    cursor: grab !important
}

.cursor-grabbing {
    cursor: grabbing !important
}

.cursor-help {
    cursor: help !important
}

.cursor-move {
    cursor: move !important
}

.cursor-n-resize {
    cursor: n-resize !important
}

.cursor-ne-resize {
    cursor: ne-resize !important
}

.cursor-nesw-resize {
    cursor: nesw-resize !important
}

.cursor-ns-resize {
    cursor: ns-resize !important
}

.cursor-nw-resize {
    cursor: nw-resize !important
}

.cursor-nwse-resize {
    cursor: nwse-resize !important
}

.cursor-no-drop {
    cursor: no-drop !important
}

.cursor-none {
    cursor: none !important
}

.cursor-not-allowed {
    cursor: not-allowed !important
}

.cursor-pointer {
    cursor: pointer !important
}

.cursor-progress {
    cursor: progress !important
}

.cursor-row-resize {
    cursor: row-resize !important
}

.cursor-s-resize {
    cursor: s-resize !important
}

.cursor-se-resize {
    cursor: se-resize !important
}

.cursor-sw-resize {
    cursor: sw-resize !important
}

.cursor-text {
    cursor: text !important
}

.cursor-w-resize {
    cursor: w-resize !important
}

.cursor-wait {
    cursor: wait !important
}

.cursor-zoom-in {
    cursor: zoom-in !important
}

.cursor-zoom-out {
    cursor: zoom-out !important
}
